* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #0084ff;
    height: auto;
    color: white;
    padding: 10px 0px;
}

.containerHead {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    list-style: none;
    display: none;
}

.menu .btn {
    display: none;
}

.container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
}

.demo {
    background-color: #b9dbfe;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.demoTxt a {
    color: white;
    background-color: #0084ff;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    
}

.demoImg {
    margin-top: 20px;
}

.demo h2 {
    font-size: 25px;
    margin: 20px 0px;
    align-self: flex-start;
    color: blue
}

.demo p, .clean p, .web p, .development p, .brand p {
    line-height: 25px;
}

.demo p {
    margin: 20px 0px;
}

.demo img {
    width: 60%;
    text-align: center;
    border-radius: 20px;
}

.clean {
    background-color: #caf0db;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.codeimg {
    background-color: green;
    padding: 20px;
}

.codeimg i, .devimg i {
    font-size: 30px;
}

.clean h2 {
    font-size: 25px;
    margin: 20px 0px;
    color: green
}

.web {
    background-color: #fed2d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.webimg, .brandimg {
    padding: 20px;
}

.web i, .brandimg {
    font-size: 80px;
}

.web h2 {
    font-size: 25px;
    margin: 20px 0px;
    color: red
}

.development {
    background-color: #ffe7c3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.devimg {
    background-color: yellowgreen;
    padding: 20px;
}

.development h2 {
    font-size: 25px;
    margin: 20px 0px;
    color: yellowgreen;
}

.brand {
    background-color: #d5d4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    border-radius: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.brand h2 {
    font-size: 25px;
    margin: 20px 0px;
    color: blue;
}
 
/* / Prima parte */

/* Inizio seconda parte */

.plan {
    background-color: #9692e6;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.plan h4 {
    align-self: flex-start;
}

.strategic {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.stratPlan, .plan h4 {
    color: white;
    margin: 10px;
}

.stratPlan p {
    margin: 10px 0px;
    line-height: 25px;
}

.stratImg {
    display: flex;
    flex-direction: column;
}

.stratImg img {
    width: 90%;
    text-align: center;
    align-self: center;
}

.appDev {
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.appDev img {
    width: 60%;
}

.appDev h3, .appDev p {
    margin: 10px;
}

.appDev i {
    background-color: lightblue;
    border-radius: 50%;
    padding: 20px;
    font-size: 20px;
}

/* Inizio Terza presentazione  */

.cit, .citTxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 25px;
}


.citTxt h2 {
    margin: 20px;
    color: blueviolet
} 

.cit p, .citTxt p {
    line-height: 25px;
    margin-bottom: 10px;
}

.primo {
    background-color: #ffbfbf;
}

.secondo {
    background-color: #feddaa;
}

.terzo {
    background-color: #b2e9ca;
}

.cit img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Inizio quarta parte */

.benefits {
    background-color: #9692e6;
    color: white;
    padding: 20px 0px;
    text-align: center;
}

.benefTitle {
    margin: auto;
    width: 80%;
}

.benefList {
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    color: grey;
    margin-bottom: 30px;
    text-align: left;
    padding: 30px 20px;
}

.benefList h3, .benefList h2 {
    margin: 10px 0px;
    color: blueviolet;
    font-size: 35px;
}

.benefList p {
    line-height: 25px;
    margin-bottom: 15px;
}

.benefList a {
    text-decoration: none;
    color: white;
    background-color: #9692e6;
    padding: 5px 25px;
    border-radius: 20px;
}

/* Inizio quinta parte */

.about {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.aboutTxt {
    align-items: center;
    margin-bottom: 20px;
}

.about h1 {
    color: #9692e6;
    margin-bottom: 20px;
}

.about p {
    margin-bottom: 10px;
    line-height: 25px;
    color: grey;
}

.aboutImg {
    display: flex;
    flex-direction: column;
}

.foto {
    position: relative;
    max-width: 200px;
}

.foto > i {
    position: absolute;
    top: -10px;
    right: 0;
    color: #9692e6;
    font-size: 80px;
}

.about img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.aboutImg h2 {
    color: #9692e6;
    margin: 15px 0px;
}

.about a {
    text-decoration: none;
    color: white;
    background-color: #9692e6;
    padding: 5px 25px;
    align-self: flex-start;
    margin-bottom: 50px;
    border-radius: 5px;
}

/* Inizio Sesta parte call to action */

.getStart {
    background-color: #9692e6;
    text-align: center;
}

.getStart h3 {
    color: grey;
    font-size: 15px;
    margin: 20px 0px
}

.getStart h2 {
    font-size: 30px;
    color: white;
}

.getStart h1 {
    font-size: 50px;
    color: #ffc25d;
    margin: 10px 0px;
}

.getStart p {
    color: white;
    margin: 30px 0px;
}

.getStart a {
    color: white;
    text-decoration: underline;
}

.startBtn a {
    background-color: white;
    border-radius: 25px;
    padding: 15px 50px;
    color: #9692e6;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.getStart .container {
    margin-bottom: 0px;
}

/* Inizio Footer */

footer {
    background-color: #333333;
    padding: 40px 0px;
}

.container-footer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

footer p {
    color: white;
    font-size: 13px;
    text-align: center;
}

footer p:first-child {
    margin-bottom: 50px;
}

.container-footer a {
    text-decoration: underline;
    color: lightblue;
}

@media screen and (min-width: 820px) {
    
    header {
        font-size: 25px;
    }

    .container {
        margin: auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px auto;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 10px;
    }

    .clean, .web, .development, .brand {
        width: calc(100% / 3 - 10px);
        min-height: 400px;
    }

    .clean p, .web p, .development p, .brand p {
        font-size: 15px;
    }

    .demo {
        width: calc(100% / 3 * 2 - 10px);
        height: 400px;
        align-items: flex-start;
    }

    .demo img {
        width: 200px;
    }

    .demoTxt a {
        padding: 10px 60px;
        
    }

    .web h2, .brand h2 {
        margin: 5px 0px;
    }

    .development {
        padding-top: 40px;
    }

    .stratPlan h2 {
        font-size: 60px;
        margin-bottom: 15px;
    }

    .stratPlan p {
        font-size: 25px;
        line-height: 35px;
    }

    .cit {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-bottom: 20px;
        padding: 15px;
        align-items: center;
    }
    
    
    .citTxt h2 {
        margin: 30px;
        color: blueviolet
    } 
    
    .cit p, .citTxt p {
        line-height: 25px;
        margin-bottom: 10px;
        font-size: 23px;
        line-height: 30px;
    }

    .cit img {
        width: 150px;
        border-radius: 50%;
        margin-right: 40px;
    }

    .benefits h1 {
        font-size: 45px;
        font-weight: 800;
        margin-bottom: 30px;
    }

    .benefits .container {
        column-gap: 20px;
    }

    .benefList {
        width: calc(100% / 2 - 20px);
    }

    .benefList h3 {
        margin: 20px 0px;
    }
    
    .aboutTxt{
        width: 50%
    }

    .aboutImg {
        width: 30%;
        padding-right: 10px;
    }

    .aboutImg img {
        width: 210px;
    }

    .about .container {
        justify-content: flex-start;
        margin-top: 50px;
        column-gap: 90px;
    }

    .about h1 {
        font-size: 60px;
    }

    .about p {
        font-size: 20px;
        line-height: 35px;
    }

    .aboutImg {
        align-self: flex-start;
    }

    .aboutImg h2 {
        font-size: 30px;
    }

    .foto {
        position: relative;
        width: 220px;
    }
    
    .foto > i {
        position: absolute;
        top: -10px;
        right: 0;
        color: #9692e6;
        font-size: 80px;
    }

    .getStart .container {
        margin: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;
    }

    .getStart h1 {
        font-size: 100px;
    }

    .getStart h2 {
        font-size: 40px;
        font-weight: 400;
    }

    .getStart h3 {
        font-size: 20px;
        color: white;
        font-weight: 100;
    }

    .getStart p {
        font-size: 20px;
    }

    footer p {
        font-size: 15px;
    }

    footer p:first-child {
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 1200px) {
    
    .containerHead, .container, .container-footer {
        width: 60%;
    }

    header {
        margin-bottom: 50px;
    }

    .logo {
        font-size: 30px;
    }

    .menu i {
        display: none;
    }

    .menu li {
        display: inline-block;
        font-size: 20px;
        margin-right: 30px;
        font-weight: 100;
    }

    .menu li a {
        border: none;
        text-decoration: none;
        color: white;
        background-color: transparent;
        padding: 0;
    }
    
    .menu {
        display: flex;
        align-items: center;
    }

    .menu .btn {
        display: inline-block;
    }

    .menu a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        background-color: white;
        border-radius: 25px;
        padding: 10px 15px;
    }

    .demo {
        flex-direction: row;
    }

    .demoTxt {
        width: 50%;
    }

    .demoTxt h2 {
        font-size: 30px;
    }

    .demoTxt p {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .demoTxt a {
        font-size: 20px;
        padding: 10px 50px;
    }

    .demoImg {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .demoImg img {
        width: 100%;
    }

    .plan {
        padding: 80px 0px;
    }

    .plan .container {
        display: flex;
        flex-direction: row;
        padding: 0px 80px;
    }

    .strategic {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: calc(100% / 2 - 20px);
    }
    
    .plan h4 {
        color: white;
        margin: 10px;
    }
    
    .stratPlan p {
        margin: 20px 0px;
        line-height: 25px;
        font-size: 20px;
    }

    .stratPlan h2 {
        font-size: 35px;
        margin: 10px 0px;
    }
    
    .stratImg {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    
    .stratImg img {
        width: 100%;
        text-align: center;
        align-self: center;
    }
    
    .appDev {
        background-color: white;
        padding: 30px;
        text-align: center;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: calc(100% / 2 - 20px);
        align-self: flex-end;
    }
    
    .appDev img {
        width: 60%;
    }
    
    .appDev h3, .appDev p {
        margin: 10px;
    }
    
    .appDev i {
        background-color: lightblue;
        border-radius: 50%;
        padding: 20px;
        font-size: 20px;
        margin: 10px 0px;
    }

    .cit {
        max-width: calc(100% - 160px);
    }

    .citTxt {
        padding: 0px 150px;
    }

    .citTxt h3 {
        font-size: 25px;
    }

    .citTxt h2 {
        font-size: 50px;
    }
    
    .cit p {
        padding: 0px 20px;
        text-align: left;
    }

    .cit img {
        padding: 0px 10px;
    }

    .benefTitle {
        padding: 40px 0px;
    }

    .benefList {
        width: calc(100% / 3 - 20px);
        padding-bottom: 30px;
    }

    .benefList h2 {
        font-size: 60px;
    }

    .benefList h3 {
        font-size: 20px;
    }

    .benefList p {
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    .benefList a {
        padding: 10px 30px;
        font-size: 20px;
    }

    .aboutTxt h1 {
        font-size: 70px;
    }

    .aboutTxt p {
        margin-bottom: 40px;
        line-height: 45px;
        font-size: 25px;
    }

    .aboutImg img {
        width: 280px;
    }

    .aboutImg h2 {
        font-size: 40px;
    }

    .aboutImg a {
        font-size: 18px;
        font-weight: 700;
        padding: 10px 12%;
    }

    .about .container {
        justify-content: flex-start;
        column-gap: 30px;
    }

    .foto {
        position: relative;
        min-width: 280px;
    }
    
    .foto > i {
        position: absolute;
        top: -10px;
        right: 0;
        color: #9692e6;
        font-size: 100px;
    }

    .aboutTxt {
        width: 60%;
    }

    .aboutImg {
        width: 35%;
    }

    .getStart .container {
        width: 30%;
    }

    .getStart h2 {
        font-size: 50px;
    }

    footer p:first-child {
        margin-bottom: 130px;
    }
