* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #0084ff;
    height: auto;
    color: white;
    padding: 10px 0px;
}

.containerHead {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    list-style: none;
    display: none;
}

.menu .btn {
    display: none;
}

.container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
}

.demo {
    background-color: #b9dbfe;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.demo h2 {
    font-size: 25px;
    margin: 20px 0px;
    align-self: flex-start;
    color: blue
}

.demo p, .clean p, .web p, .development p, .brand p {
    line-height: 25px;
}



.demo a {
    margin: 20px 0px;
}

.demo img {
    width: 60%;
    text-align: center;
}

.clean {
    background-color: #caf0db;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.codeimg {
    background-color: green;
    padding: 20px;
}

.codeimg i, .devimg i {
    font-size: 30px;
}

.clean h2 {
    font-size: 25px;
    margin: 20px 0px;
    color: green
}

.web {
    background-color: #fed2d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.webimg, .brandimg {
    padding: 20px;
}

.web i, .brandimg {
    font-size: 80px;
}

.web h2 {
    font-size: 25px;
    margin: 20px 0px;
    color: red
}

.development {
    background-color: #ffe7c3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.devimg {
    background-color: yellowgreen;
    padding: 20px;
}

.development h2 {
    font-size: 25px;
    margin: 20px 0px;
    color: yellowgreen;
}

.brand {
    background-color: #d5d4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    border-radius: 25px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
}

.brand h2 {
    font-size: 25px;
    margin: 20px 0px;
    color: blue;
}
 
/* / Prima parte */

/* Inizio seconda parte */

.plan {
    background-color: #9692e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.strategic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
}

.stratPlan, .plan h5 {
    color: white;
    margin: 10px;
}

.stratPlan p {
    margin: 10px 0px;
    line-height: 25px;
}

.stratImg img {
    width: 90%;
}

.appDev {
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.appDev img {
    width: 60%;
}

.appDev h3, .appDev p {
    margin: 10px;
}

.appDev i {
    background-color: lightblue;
    border-radius: 50%;
    padding: 20px;
    font-size: 20px;
}

/* Inizio Terza presentazione  */

.cit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
}


.cit h2 {
    margin: 20px;
    color: blueviolet
} 

.cit p {
    line-height: 25px;
    margin-bottom: 10px;
}

.primo {
    background-color: #ffbfbf;
}

.secondo {
    background-color: #feddaa;
}

.terzo {
    background-color: #b2e9ca;
}

.cit img {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Inizio quarta parte */

.benefits {
    background-color: #9692e6;
    color: white;
    padding: 20px 0px;
    text-align: center;
}

.benefList {
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    color: grey;
    margin-bottom: 30px;
    text-align: left;
    padding: 30px 20px;
}

.benefList h3 {
    margin: 10px 0px;
    color: blueviolet;
}

.benefList p {
    line-height: 25px;
    margin-bottom: 15px;
}

.benefList a {
    text-decoration: none;
    color: white;
    background-color: #9692e6;
    padding: 5px 25px;
    border-radius: 20px;
}

/* Inizio quinta parte */

.about {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.aboutTxt {
    align-items: center;
}

.about h1 {
    color: #9692e6;
    margin-bottom: 20px;
}

.about p {
    margin-bottom: 10px;
    line-height: 25px;
    color: grey;
}

.aboutImg {
    display: flex;
    flex-direction: column;
}

.about img {
    width: 60%;
    border-radius: 50%;
    margin-bottom: 10px;
    align-self: center;
}

.aboutImg h2 {
    color: #9692e6;
    margin: 10px 0px;
}

.aboutImg a {
    color: white;
    text-decoration: none;
    background-color: #9692e6;
    padding: 5px 15px;
    margin: 10px 0px;
    margin-right: 130px;
}

/* Inizio Sesta parte call to action */

.getStart {
    background-color: #9692e6;
    text-align: center;
}

.getStart h3 {
    color: grey;
    font-size: 15px;
    margin: 20px 0px
}

.getStart h2 {
    font-size: 30px;
    color: white;
}

.getStart h1 {
    font-size: 50px;
    color: #ffc25d;
    margin: 10px 0px;
}

.getStart p {
    color: white;
    margin: 20px 0px;
}

.getStart a {
    color: white;
    text-decoration: underline;
}

.startBtn a {
    background-color: white;
    border-radius: 25px;
    padding: 10px 20px;
    color: black;
}

.getStart .container {
    margin-bottom: 0px;
}